include MANIFEST.in
include requirements.txt
include procureops/*.json
include procureops/*/*.json
include procureops/*/*.html
include procureops/*/*.js
include procureops/*/*.css
include procureops/fixtures/*.json
